POSTGRES_DB=security_ops
POSTGRES_USER=security_ops
POSTGRES_PASSWORD=security_ops
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=security-media

BACKEND_PORT=8000
SITE_OFFLINE_SECONDS=40
CAMERA_OFFLINE_SECONDS=30
MONITORING_INTERVAL_SECONDS=8

MQTT_PORT=1883
THINGSBOARD_PORT=9090
THINGSBOARD_ENABLED=true
THINGSBOARD_URL=http://thingsboard:9090
THINGSBOARD_TENANT_USERNAME=tenant@thingsboard.org
THINGSBOARD_TENANT_PASSWORD=tenant
THINGSBOARD_DASHBOARD_TITLE=Operaciones de Seguridad de Condominios
THINGSBOARD_SYNC_INTERVAL_SECONDS=20
